<!DOCTYPE html>
<html>
<head>
  <title>RblogMain</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav id="rblog-navbar" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../index.html">RBlog <span>/Manager</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= params[:controller] == 'admin/posts' ? 'active' : '' %>"><%= link_to 'Posts', admin_posts_path %></li>
        <li class="<%= params[:controller] == 'admin/categories' ? 'active' : '' %>"><%= link_to 'Categories', admin_categories_path %></li>
        <li class="<%= params[:controller] == 'admin/users' ? 'active' : '' %>"><%= link_to 'Users', admin_users_path %></li>
      </ul>
      <%= form_tag(admin_posts_path, :method => 'get', id: 'search-form', class: 'navbar-form navbar-left search-form', role: 'search') do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], placeholder: 'Search posts', class: 'form-control' %>
          </div>
          <%= submit_tag 'Search', :name => nil, class: 'btn btn-primary' %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--Alerts & Messages-->
        <% if flash[:notice] %>
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>Notice!</strong> <%= flash[:notice] %>
            </div>
        <% end %>
        <% if flash[:alert] %>
            <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>Notice!</strong> <%= flash[:alert] %>
            </div>
        <% end %>
        <div class="well">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <p>
    Copyright &copy;2016, rBlog | <a href="login.html">Admin Login</a>
  </p>
</footer>

</body>
</html>
