<div class="well post-single">
  <h2 class="page-header"><%= @post.title %>
    <small>Posted by <%= @post.user.name %>
      on <%= @post.created_at.to_time.strftime('%B %e at %l:%M %p') %></small>
  </h2>
  <%= image_tag @post.image.url, class: 'img-responsive' %>
  <%= raw @post.body %>
</div>

<%= render 'partials/comments' %>